# The file contains the URL's and authentication details to
# connect to the various databases and servers that are used in the migration scripts.

# JIRA
Jira_url=https://jira.some.domain
Jira_username=USERNAME
Jira_password=PASSWORD

# Vula Production
Vula_url=https://sakai.some.domain
Vula_username=admin
Vula_password=SECRET

# Vula Site Archive webservice endpoint
VulaArchive_url=https://sakai.some.domain
VulaArchive_username=admin
VulaArchive_password=SECRET

# Vula Production mysql database
VulaDb_hostname=HOST
VulaDb_database=sakai
VulaDb_username=sakaiuser
VulaDb_password=SECRET

# Local Brightspace Middleware service
BrightspaceMiddleware_url=https://middleware.some.domain
BrightspaceMiddleware_username=script
BrightspaceMiddleware_password=SECRET

# Brightspace production instance
Brightspace_username=USER
Brightspace_password=SECRET

# Brightspace production UI login
BrightspaceWeb_username=USER
BrightspaceWeb_password=SECRET

# Brightspace Bulk Course Import SFTP
BrightspaceFTP_hostname=HOST
BrightspaceFTP_username=USER
BrightspaceFTP_password=SECRET

# Tsugi database
Tsugi_hostname=HOST
Tsugi_database=tsugi
Tsugi_username=USER
Tsugi_password=SECRET
