# The file contains the URL's and authentication details to
# connect to the various databases and servers that are used in the migration scripts.

# JIRA
Jira_url=https://jira.some.domain
Jira_username=USERNAME
Jira_password=PASSWORD

# Sakai Production
Sakai_url=https://sakai.some.domain
Sakai_username=admin
Sakai_password=SECRET

# Sakai Site Archive SOAP CXF webservice endpoint
SakaiArchive_url=https://sakai.some.domain
SakaiArchive_username=admin
SakaiArchive_password=SECRET

# Sakai Production mysql database
SakaiDb_hostname=HOST
SakaiDb_database=sakai
SakaiDb_username=sakaiuser
SakaiDb_password=SECRET

# Local Brightspace Middleware service
BrightspaceMiddleware_url=https://middleware.some.domain
BrightspaceMiddleware_username=script
BrightspaceMiddleware_password=SECRET

# Brightspace production UI login
BrightspaceWeb_username=USER
BrightspaceWeb_password=SECRET

# Brightspace Bulk Course Import SFTP
BrightspaceFTP_hostname=HOST
BrightspaceFTP_username=USER
BrightspaceFTP_password=SECRET

# Tsugi database
Tsugi_hostname=HOST
Tsugi_database=tsugi
Tsugi_username=USER
Tsugi_password=SECRET
