beautifulsoup4==4.11.1
cssutils==2.4.0
emails==0.6
ffprobe_python==1.0.3
funcy==1.17
Jinja2==3.1.6
jira>=3.10.5
jproperties==2.1.1
jsonpath_ng==1.6.0
lxml==4.9.4
paramiko==3.4.0
PyMySQL==1.1.1
python_oembed==0.2.4
PyYAML==6.0.1
Requests==2.32.4
ruff>=0.3.4
tqdm==4.66.3
urllib3==2.6.0
validators==0.22.0
zeep==4.1.0
