#site {
 background-color: honeydew;
 padding: 1.5em;
}

#issues_not_found {
 display: none;
}

#tools_not_used {
 display: none;
}

#issues_found_list { 
}

#issues_not_found_list {
 list-style: none;
}

#tool_unused_list {
 list-style: none;
}

li.not-found {
 border-left: 3px solid rgb(5, 129, 61);
 padding: 0.5em;
}

li.found {
 border-left: 3px solid rgb(158, 0, 8);
 padding: 0.5em;
}

#tool_list {
 list-style: none;
}

#tools > div {
 padding: 8px; 
}

